.Box{
    width: 150px;
    height: auto;
    border: 1px solid lightgreen;
    float: left;
    margin-left:100px;
    margin-right:100px;
}

.Header{
    width:150px;
    height: 30px;
    /* border: 1px solid red; */
    background-color:lightgreen;
    text-align: center;
    line-height: 30px;
}

.Main{
    margin-top:30px;
    padding-top: 5px;
    width:100%;
    height:300px;
    background-color:lightgreen;
    text-align:center;
    vertical-align:middle;
    position:relative;
}